<div>
  Add A Book
  <br>
  <label>
    Title
    <input
      type="text"
      name="title"
      placeholder="Goosebumps"
      ng-model="title"
    >
  </label>
  <label>
    Author
    <input
      type="text"
      name="author"
      placeholder="R.L. Stein"
      ng-model="author"
    >
  </label>
  <button
    ng-click="BookService.addBook(
      {
      title: title,
      author: author,
      }
    );
    title='';
    author='';
    "
  >
    Add Book
  </button>
</div>
<div>
  Books:
</div>
<div>
  <label>
    Find Book
    <input
      type="search"
      name="bookTitle"
      placeholder="Sherlock Holmes"
      ng-model="bookTitleFilterValue"
    >
    {{ bookTitleFilterValue }}
  </label>
</div>
<div>
  <ul>
    <li ng-repeat="book in BookService.books | filter: { title: bookTitleFilterValue } | orderBy: 'title'">
      <h4>
        {{ book.title }}
      </h4>
      <p class="book_author">
        {{ book.author }}
      </p>
    </li>
  </ul>
</div>